html {
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Montserrat', sans-serif;
}

img {
    width: 100%;
}

section {
    padding: 100px 0;
    background: #122e44;
}

.section_title {
    margin-bottom: 30px;
}

.section_title h2 {
    position: relative;
    text-align: center;
    color: #fff;
    font-size: 30px;
    transition: all .5s ease-in-out;
}


.section_title h2:hover {
    background-color: #24CAAC;
}

/* header */


header {
    background: #3b3a3a;
    border-bottom: 1px solid #b8b3b3;
    position: fixed;
    width: 100%;
    z-index: 5;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    padding: 10px 0;
}

.nav_links {
    display: flex;
}

.nav_links li a {
    margin-left: 15px;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.nav_links li a:hover{
    background: #24CAAC;
}

.logo {
    text-transform: uppercase;
}

.logo h2 a {
    color: #fff;
}


/* anasayfa */

.inner_anasayfa{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
    color: #fff;
}

.child_anasayfa {
    flex-basis: 45%;
}

.child_anasayfa h1 {
    font-size: 50px;
    color: #24CAAC;
}

.span_child {
    color: rgb(230, 123, 141);
}

.child_anasayfa p {
    font-size: 25px;
    margin-bottom: 12px;
}

.btn {
    background: #24CAAC;
    padding: 12px 28px;
    border-radius: 20px;
    color: #fff;
    border: 1px solid #24CAAC;
    font-weight: 700;
    cursor: pointer;
    transition: all .3s ease;
}

.btn:hover {
    background: transparent;
    letter-spacing: 2px;
}


/* yazılımlar */

.innersoftware {
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;
    margin: 0 auto;
    
}

.innersoftware_child {
    flex-basis: 31%;
    color: #fff;
    padding: 25px 20px;
    background: rgba(55, 66, 80, 0.281);
    border-radius: 5px;
    border: 1px solid transparent;
    transition: all .5s ease-in;
}

.innersoftware_child:hover {
    border: 1px solid #24CAAC;
}

.innersoftware_child .icon {
    font-size: 25px;
    color: #24CAAC;
}

.innersoftware_child h3 {
    font-size: 20px;
    margin: 5px 0;
}

.innersoftware_child p {
    font-size: 16px;
}


/* sertifikalarım */

.inner_courses {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.child_courses {
    flex-basis: 24%;
    color: #fff;
    padding: 20px 10px 20px 10px;
    border: 1px solid transparent;
    transition: .3s;
    border-radius: 5px;
}

.child_courses:hover {
    border: 1px solid #24CAAC;
}

.child_courses .detail {
    display: flex;
    justify-content: space-between;
}

.child_courses .detail ul {
    display: flex;
    justify-content: space-between;
    flex-basis: 50%;
}

.child_courses .detail ul li {
    color: gold;
}

/* başarılar */

.inner_achivement {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.child_achivement {
    flex-basis: 40%;
}

.child_achivement img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.child_achivement2 {
    flex-basis: 46%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
}
.single_detail {
    flex-basis: 48%;
    padding: 40px 30px;
    color: #fff;
    border-radius: 5px;
    transition: .3s;
}

.single_detail:hover {
    transform: scale(1.03);
}

.sd_1 {
    background-color: #EAA023;
    margin-bottom: 20px;
}
.sd_2{
    background-color: #E91E63;
    margin-bottom: 20px;
}

.sd_3 {
    background-color: #24CAAC;
    margin-bottom: 20px;
}

.sd_4 {
    background-color: #2F363E;
    margin-bottom: 20px;
}


/* hakkımda */

.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.about_child {
    flex-basis: 46%;
    margin-bottom: 30px;
}

.child_img {
    width: 60px;
    margin-bottom: 10px;
}

.child_img img{
    border-radius: 50%;
}

.about_child a {
    color: #24CAAC;
    margin: 10px;
}

.about_child p {
    color: #fff;
    margin: 10px;

}


.about_child a:hover {
    text-decoration: underline;
}


/* iletişim */

.inner_contact {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
}

.child_contact {
    flex-basis: 45%;
}

.child_contact form {
    padding: 50px 40px;
    background: #2F363E;
    border-radius: 5px;
}

.child_contact form input,textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background: #24292D;
    border: none;
    resize: none;
    border-radius: 25px;
    transition: .3s ease-in;
}

.child_contact form input,textarea:focus {
    color: #fff;
}


.child_contact form input:focus {
    letter-spacing: 1px;
}

.child_contact form textarea:focus {
    letter-spacing: 1px;
}

.child_contact form input:last-child {
    margin-bottom: 0;
    background: #24CAAC;
    border: 1px solid #24CAAC;
    transition: .3s;
}

.child_contact form input:last-child:hover {
    background: transparent;
    color: #fff;
}

/* footer */

footer{
    background: #24292D;
    padding: 60px 0 20px 0;
    color: #fff;
}

.inner_footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    width: 80%;
}

.child_footer{
    flex-basis: 24%;
}

.child_footer h3 {
    margin-bottom: 20px;
}

.child_footer .footer_social {
    display: flex;
    justify-content: start;
    margin-top: 10px;
}

.fa-facebook, .fa-instagram, .fa-twitter, .fa-linkedin, .fa-map-location-dot, .fa-square-phone, .fa-envelope{
    color: #24CAAC;
}
.child_footer ul li {
    flex-basis: 15%;
}

.child_footer ul li a {
    color: #fff;
}

.quick_links {
    display: flex;
    flex-direction: column;
    
}

.quick_links li {
    margin-bottom: 7px;
}

.quick_links li a:hover {
    text-decoration: underline;
}

.footer_contact li {
    margin-bottom: 10px;
}

.footer_contact li i {
    margin-right: 5px;
}

.child_footer form {
    display: flex;
    flex-direction: column;
}

.child_footer form input {
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 25px;
    background: #2F363E;
    border: none;
}


.child_footer form input:focus {
    color: #fff;
}

.child_footer form input:last-child {
    background: #24CAAC;
    margin: 0;
    border: 1px solid #24CAAC;
    color: #fff;
    transition: .3s;
}

.child_footer form input:last-child:hover {
    background: transparent;
    border: 1px solid #24CAAC;
}





